.category {
  width: 100% !important;
  height: 250px;
  object-fit: cover;
  opacity: 0.5;
  z-index: 1;
}

.category:hover {
  opacity: 1;
}

.main-card {
  max-height: 400px;
}

.thumbs {
  max-height: 100px;
}

#mobile-select {
  display: none;
}

#mobile-title {
  display: none;
}

@media only screen and (max-width: 360px) {
  .thumbs {
    min-height: 300px;
  }

  .main {
    display: none;
  }

  #maincard {
    border-width: 0px;
  }

  #mobile-select {
    display: block;
  }

  #mobile-title {
    display: block;
  }

  #category-row {
    display: none;
  }

  #desktop-title {
    display: none;
  }
}
